*{
    margin: 0; padding: 0;
    box-sizing: border-box;
    font-size: 62.5%;
}

body{
    border: solid 7px red;
    
}

/**/
.container{/*conetnedor de todo*/
    max-width: 1000px;
    min-width: 300px;
    width: 100%;
    margin: 0 auto;
    display: grid;

    grid-template-rows: auto auto auto auto;
    grid-template-columns: 100%;
    /*background del body*/
    background-image:url("../img/background__left.jpg"),url("../img/background__rigth.jpg");
    background-repeat: no-repeat ;
    background-position: left, right;
    background-size: 50% 100%;
    
        
}
/*encabezado*/
.header{
    border-radius: 20px;
    
    background-image: linear-gradient(red, yellow);
}
.titulos{
    display: flex;
    
}
.titulos__logo{
    width: 100%;
    display: flex;
}
.titulos__logo img{
    height: 16vh;
    border-radius: 20px
}

.titulos__central{
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
    border: 1px solid rgb(7, 26, 134);
    width: 100%;
    display:grid;
    justify-content: center;
    align-content: center;
    font-size: 2.6rem;
    min-width: 300px;
}
.titulos__menu{
    display: flex;
    align-items: center;
    width: 100%;
    border: 2px solid;
    justify-content: space-between;
    
}
.titulos__menu :hover{
    background-color: #5eff00;
    transition: .5s ease-in-out;
    border-radius: 20px;
}
.titulos__menu li{
    text-transform: uppercase;
    list-style: none;
    font-size: 2.2rem;
    padding: 30px;
}
.titulos__menu a{
    text-decoration: none;
}

.banner{
    display: flex;
    margin-top: 2em;
    flex-direction: column;
    align-content: center;
    border: solid 6px #ff0049;
}   
.banner img{
    border-radius: 50px;
}


.grilla{ /*contenido de las etiquetas*/
    display: grid;
    grid-template-columns: repeat(5,auto);
    /* grid-template-columns: repeat(auto-fit, minmax(150px, 1fr)); */
    grid-gap: 1.1rem;
       
}
/*reel borde*/
.grilla__reel{
    border: 2px solid rgb(0, 0, 0);
    backdrop-filter: blur(10px);
    padding: 10.5em;
    display: grid;
    grid-template-rows: auto auto 1fr;
    grid-gap: 1.1em;
    
}
.subtitulos{
    text-transform: uppercase;
    
    width: 100%;
    border: 1px solid rgb(0, 0, 0);
    text-align: center; 
    font-size: 2.1rem;
        
}
.grilla__imagen img{/*imagenes de las etiquetas*/
    width: 100%;
    height: auto;
    border-radius: 10px;
    
}

.grilla__text{/*texto de las etiquetas*/
    font-size: 1.6rem;
    text-align: justify;
}

footer{
    height: 10vh;
    display: flex;
    align-items: center;
    

}
footer h2{
    text-transform: uppercase;
    font-family: 'Times New Roman', Times, serif;
    font-size: 3rem;
    color: rgb(207, 172, 17);
    text-align: center;
    width: 100%;
      
}

@media screen and (max-width: 730px){
    .titulos{
        color: #29cd7b;
        flex-direction: column;
        
    }
    .titulos__menu{
        display: flex;
        justify-content: space-around;
    }
   .titulos__logo{
       width: 100%;
       
   }
   .titulos__central{
       font-size: 7.2vw;;
   }


   .grilla{ 
       display: contents;
       
    }

    .grilla__reel{
        padding: 10px;
    
    }   
    .subtitulos{
        display: grid;
        grid-column: 1/3;
        
    }
    .grilla__imagen{
        display: flex;
        align-items: center;
    
    }

    .grilla__text{
        padding: 10px;

    }
}