*{
    margin: 0; padding: 0;
    box-sizing: border-box;
    font-size: 62.5%;
}
body{
    border: solid 7px rgb(22, 100, 163); 
    width: 100%;  
    min-height: 100vh;
}
.container{/*conetnedor de todo*/
    max-width: 1000px;
    min-width: 300px;
    width: 100%;
    margin: 0 auto;
    display: grid;

    grid-template-rows: auto auto auto auto;
    grid-template-columns: 100%;
    /*background del body*/
    background-image:url("../img/background__left.jpg"),url("../img/background__rigth.jpg");
    background-repeat: no-repeat ;
    background-position: left, right;
    background-size: 50% 100%;       
}
/*encabezado*/
.header{
    border-radius: 20px;
    background-image: linear-gradient(red, yellow);
}
.titulos{
    display: flex;
}
.titulos__logo{
    width: 100%;
    display: flex;
}
.titulos__logo img{
    height: 16vh;
    border-radius: 20px
}
.titulo__text{
    width: 100%;
}
.titulos__central{
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
    border: 1px solid rgb(7, 26, 134);
    width: 100%;
    height: 100%;
    display:grid;
    justify-content: center;
    align-content: center;
    font-size: 3.6vw;
}
.titulos__menu{
    display: flex;
    align-items: center;
    width: 100%;
    border: 2px solid;
    justify-content: space-between;   
}
.titulos__menu :hover{
    /* background-color: #5eff00; */
    transition: .5s ease-in-out;
    border-radius: 20px;
}
.titulos__menu div button a{
    text-transform: uppercase;
    list-style: none;
    font-size: 2.2rem;
    padding: 0.9em;
}
.titulos__menu a{
    text-decoration: none;
}
.banner{
    display: flex;
    margin-top: 2em;
    flex-direction: column;
    align-content: center;
    border: solid 6px #ff0049;
}   
.banner img{
    border-radius: 50px;
}
.grilla{ /*contenido de las etiquetas*/
    display: grid;
    grid-template-columns: repeat(5,auto);
    /* grid-template-columns: repeat(auto-fit, minmax(150px, 1fr)); */
    grid-gap: 1.1rem;      
}
/*reel borde*/
.grilla__reel{
    border: 2px solid rgb(0, 0, 0);
    backdrop-filter: blur(10px);
    padding: 10.5em;
    display: grid;
    grid-template-rows: auto auto 1fr;
    grid-gap: 1.1em;
}
.subtitulos{
    text-transform: uppercase;
    
    width: 100%;
    border: 1px solid rgb(0, 0, 0);
    text-align: center; 
    font-size: 2.1rem;
}
.grilla__imagen img{/*imagenes de las etiquetas*/
    width: 100%;
    height: auto;
    border-radius: 10px;
}
.grilla__text{/*texto de las etiquetas*/
    font-size: 1.6rem;
    text-align: justify;
}
footer{
    height: 12vh;
    display: flex;
    align-items: center;
}
footer h2{
    text-transform: uppercase;
    font-family: 'Times New Roman', Times, serif;
    font-size: 2.5rem;
    color: rgb(207, 172, 17);
    text-align: center;
    width: 100%;
}
/* aqui en el codigo de gallery */
.gradiente__gallery{
    background: rgb(131,58,180);
    background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
}
.titulo__gallery{
    display: grid;
    grid-template-columns: auto 1fr;
}
.titulo__gallery img {
    height: 10vh;
    border-radius: 20px;
    
}
.titulo__gallery h3{
    text-transform: uppercase;
    color: #54e211;
    font-size: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;

}
.linea{
    background: #fd0048;
    width: 100%;
    height: 5px;
    display: block;
}
.gallery--grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    width: 95%;
    grid-gap: 10px;
    margin: auto;
}
.gallery--grid img{
    width: 100%;
    height: 100%;
    width: 150px;
    object-fit: contain;
    transition: transform .4s;   
}
.gallery--grid img:hover{
    filter: blur(2px);
    transform: rotate(10deg) scale(1.3);
}
/* ESTA SECCION SON LOS MODIFICADORES DE LOS LINK DE LOS PERROS */
.container_link--centrar{
    border: 3px solid black;
    margin: auto;
    line-height: 4;
    display: grid;
    grid-template-areas:"perro button"
                        "detalle detalle"
                        "detalle detalle";
}
.etiqueta{
    display: grid;
    grid-template-rows: 11vh 5px auto;
/* los 5px son de la liena que separa el contenido con el header */
}
.lista__info--left li{
    list-style: upper-alpha;
    position: relative;
    left: 30px;
    font-size: 1rem;
}
/*diseño de la pagina de perros */
.perro{
    grid-area: perro;
}
picture.perro img{
    width: 200px;
    height: 150px;
    box-shadow: 6px 6px #e4dadaad;
}
.button{
    grid-area: button;
    font-size: 4rem;
}
.button:hover{
    transform: rotate(-10deg) scale(1.3);
    transition: transform .5s;
}
.detalle{
    grid-area: detalle;
}
/* media queries del index */
@media screen and (max-width: 730px){
    .titulos{
        color: #29cd7b;
        flex-flow: column;
    }  
    .titulos__menu{
        display: flex;
        justify-content: space-around;
    }
   .titulos__logo{
       width: 100%;  
   }
   .titulo__text{
       width: 100%;
   }
   .titulos__central{
       font-size: 7.1vw;
   }
   .grilla{ 
       display: contents;   
    }
    .grilla__reel{
        padding: 10px;
    }   
    .subtitulos{
        display: grid;
        grid-column: 1/3;
    }
    .grilla__imagen{
        display: flex;
        align-items: center;
    }
    .grilla__text{
        padding: 10px;
    }
    footer h2{
        text-transform: uppercase;
        font-family: 'Times New Roman', Times, serif;
        font-size: 1.7rem;
        color: rgb(207, 172, 17);
        text-align: center;
        width: 100%;
    }
}

    /* -------------------------------------------- */