/*esto es una condicional*/
.btn--facebook {
  background-image: url("../img/icon/facebook_icon.png");
  background-repeat: no-repeat;
  background-size: contain;
  width: 70px;
  height: auto;
  margin: 0 auto;
  background-position: center;
}

/*esto es una condicional*/
.btn--Linkedin {
  background-image: url("../img/icon/linked_icon.png");
  background-repeat: no-repeat;
  background-size: contain;
  width: 70px;
  height: auto;
  margin: 0 auto;
  background-position: center;
}

/*esto es una condicional*/
.btn--insta {
  background-image: url("../img/icon/instagram_icon.png");
  background-repeat: no-repeat;
  background-size: contain;
  width: 70px;
  height: auto;
  margin: 0 auto;
  background-position: center;
}

/*esto es una condicional*/
.btn--twitter {
  background-image: url("../img/icon/twitter_icon.png");
  background-repeat: no-repeat;
  background-size: contain;
  width: 70px;
  height: auto;
  margin: 0 auto;
  background-position: center;
}

/*esto es una condicional*/
.btn--yotutube {
  background-image: url("../img/icon/youtube_icon.png");
  background-repeat: no-repeat;
  background-size: contain;
  width: 70px;
  height: auto;
  margin: 0 auto;
  background-position: center;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  width: 100%;
  min-height: 100vh;
}

/* ESTA SECCION SON LOS LINK DE LOS PERROS */
.centrar__text, footer, .titulos__central, header.titulo__gallery h3 {
  /*esta clase es para hacer un extend*/
  display: flex;
  align-items: center;
  justify-content: center;
}

body.link__perros {
  display: grid;
  grid-template-rows: auto 5px 1fr auto;
}

/*aui el titulo de los link*/
header.titulo__gallery {
  border-radius: 20px;
  background-image: linear-gradient(red, yellow);
  display: grid;
  grid-template-columns: auto 1fr;
}
header.titulo__gallery a img {
  height: 100%;
  border-radius: 20px;
}
header.titulo__gallery h3 {
  text-transform: uppercase;
  font-family: "Times New Roman", Times, serif;
  color: #23ad61;
  font-size: 6rem;
  font-weight: bold;
  /*entension*/
}

body div.card {
  max-width: 40%;
  min-width: 251px;
  margin: auto;
}
body div.card img {
  width: 300px;
  margin: 10px auto;
}

div.card-body {
  margin-top: -10px;
}

.container_link--centrar {
  max-width: 400px;
  border: 3px solid black;
  margin: 3% auto;
  display: grid;
  grid-template-areas: "perro button" "detalle detalle";
}
.container_link--centrar picture.perro {
  align-self: center;
  justify-self: center;
  grid-area: perro;
}
.container_link--centrar picture.perro img {
  width: 100%;
  padding: 10px;
}
.container_link--centrar form.button {
  grid-area: button;
  align-self: center;
}
.container_link--centrar form.button button {
  display: block;
  font-size: 3rem;
  width: 100%;
}
.container_link--centrar form.button button:hover {
  transform: rotate(-10deg) scale(1.3);
  transition: transform 0.5s;
}
.container_link--centrar ul.lista__info--left.detalle {
  grid-area: detalle;
}
.container_link--centrar ul.lista__info--left.detalle li {
  list-style: upper-alpha;
  font-size: 2.4rem;
  margin: 18px 11px;
}

footer {
  overflow-x: hidden;
  overflow-y: hidden;
}
footer picture.perro__animado {
  width: 100%;
  position: relative;
  -webkit-animation-name: perro_animado;
          animation-name: perro_animado;
  -webkit-animation-duration: 10s;
          animation-duration: 10s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  height: 100%;
}
@-webkit-keyframes perro_animado {
  from {
    left: -50%;
  }
  to {
    left: 120%;
  }
}
@keyframes perro_animado {
  from {
    left: -50%;
  }
  to {
    left: 120%;
  }
}
footer picture.perro__animado img {
  transform: rotateY(180deg);
  height: 90%;
}

form fieldset.formulario--center {
  margin: 80px auto;
  gap: 20px;
  display: flex;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  flex-direction: column;
}
form fieldset.formulario--center .formulario__label {
  display: flex;
  gap: 20px;
}
form fieldset.formulario--center .formulario__label ::-moz-placeholder {
  font-size: 30px;
  text-align: center;
}
form fieldset.formulario--center .formulario__label :-ms-input-placeholder {
  font-size: 30px;
  text-align: center;
}
form fieldset.formulario--center .formulario__label ::placeholder {
  font-size: 30px;
  text-align: center;
}
form fieldset.formulario--center .formulario__label label {
  flex: auto;
}
form fieldset.formulario--center .formulario__label input {
  flex: 13.8;
}
form fieldset.formulario--center .formulario__label select {
  flex: 25.1;
  text-align: center;
}
form fieldset.formulario--center .formulario__label select option#opt1 {
  /*aqui use un ID para centar un solo item*/
  margin: 0;
}
form fieldset.formulario--center .formulario__label textarea {
  width: 100%;
}
form fieldset.formulario--center .formulario__btn-msj {
  display: flex;
  justify-content: center;
}
form fieldset.formulario--center .formulario__btn-msj input {
  padding: 28px;
  border-radius: 20px;
  background: cadetblue;
  line-height: 1;
}

body nav.nosotros__link p {
  font-size: revert;
  color: rgb(39, 41, 160);
}
body nav.nosotros__link img {
  width: 20%;
}

.container-index {
  max-width: 1200px;
  min-width: 300px;
  width: 80%;
  margin: 0 auto;
  display: grid;
  grid-template-rows: auto auto auto auto;
  grid-template-columns: 100%;
}

.grid__row-3 {
  display: grid;
  grid-template-rows: 100% 5px auto 12vh;
  /*los 5px son de la linea*/
}

.titulos {
  border-radius: 20px;
  background-image: linear-gradient(red, yellow);
}
.titulos .titulo__logotext {
  display: grid;
  grid-template-columns: auto 1fr;
}
.titulos .titulo__logotext img {
  height: 100%;
  border-radius: 20px;
}

.titulo__text {
  width: 100%;
}

.titulos__central {
  text-transform: uppercase;
  font-family: Arial, Helvetica, sans-serif;
  width: 100%;
  height: 100%;
  /*estos en un mixin*/
  font-size: 4.8rem;
  font-weight: bold;
  /*entension*/
  color: cornsilk;
  white-space: nowrap;
}

.titulos__menu {
  display: flex;
  width: 100%;
  flex-direction: column;
}
.titulos__menu div button:hover {
  transition: 0.5s ease-in-out;
  border-radius: 20px;
}
.titulos__menu div button a {
  text-transform: uppercase;
  list-style: none;
  font-size: 2.2rem;
  padding: 0.5em;
  color: #0a0b0b;
  text-decoration: none;
  font-weight: bold;
  /* coloca el texto con negrita standar*/
}

.gallery--grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  width: 95%;
  grid-gap: 10px;
  margin: auto;
  justify-items: center;
}
.gallery--grid img {
  width: 100%;
  height: 100%;
  width: 150px;
  -o-object-fit: contain;
     object-fit: contain;
  transition: transform 0.4s;
  filter: grayscale(100%)blur(1.1px);
}
.gallery--grid img:hover {
  filter: grayscale(0%);
  transform: rotate(-10deg) scale(1.3);
}

/* aqui en el codigo de gallery */
.gradiente__gallery {
  background-image: linear-gradient(180deg, #ffff7c 0, #ffff6f 12.5%, #fff565 25%, #ffda5c 37.5%, #f2bd53 50%, #dda14c 62.5%, #c98a46 75%, #b77642 87.5%, #a8663f 100%);
  min-height: 100vh;
}

/*la linea roja de los link*/
.linea {
  background: #fd0048;
  width: 100%;
  height: 5px;
  display: block;
  margin-bottom: 10px;
}

footer {
  /*aeui el footer se configura tanto para index como para los link con las redes*/
  display: flex;
  height: 12vh;
  /*entension*/
  /*clase editora de footer en nosotros y contacto*/
}
footer.footer__index {
  display: grid;
  grid-template-columns: 100px 1fr;
}
footer.footer__index .icon_face {
  background-image: url("../img/icon/facebook_icon.png");
  /*dato obtenido del maps*/
  background-repeat: no-repeat;
  background-size: contain;
  height: 70%;
  background-position: center;
}
footer.footer__index h2 {
  text-transform: uppercase;
  font-family: "Times New Roman", Times, serif;
  font-size: 2.5rem;
  color: rgb(46, 26, 26);
  text-align: center;
  width: 100%;
  font-weight: bold;
}
footer .footer__icon {
  display: grid;
  grid-template-columns: repeat(5, auto);
  width: 50%;
  height: 100%;
}

.banner {
  display: flex;
  margin-top: 2em;
  flex-direction: column;
  align-content: center;
}
.banner img {
  border-radius: 50px;
}

.grilla {
  /*contenido de las etiquetas*/
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(201px, 1fr));
}

.grilla__reel {
  border: 2px solid rgb(179, 190, 14);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  padding: 10px;
  display: grid;
  grid-template-rows: auto auto 1fr;
  grid-gap: 1.1em;
}

.subtitulos {
  text-transform: uppercase;
  width: 100%;
  border: 1px solid rgb(0, 0, 0);
  text-align: center;
  font-size: 2.1rem;
  background-color: crimson;
  color: #ffa;
  white-space: nowrap;
}

.grilla__imagen img {
  /*imagenes de las etiquetas*/
  width: 100%;
  height: auto;
  border-radius: 10px;
}

.grilla__text {
  /*texto de las etiquetas*/
  font-size: 1.6rem;
  text-align: justify;
}

/* media queries del index */
@media screen and (max-width: 730px) {
  .titulos {
    color: #29cd7b;
    flex-flow: column;
  }
  .titulos .titulo__logotext {
    display: grid;
    grid-template-columns: auto 1fr;
  }
  .titulos .titulo__logotext img {
    max-width: 17vw;
  }
  .titulos .titulo__logotext .titulos__central {
    font-size: 5.2vw;
  }
  .titulos .titulos__menu div {
    display: flex;
  }
  .titulos .titulos__menu div button a {
    font-size: 1.3rem;
    display: flex;
    text-transform: uppercase;
    justify-content: center;
    font-weight: bold;
  }

  header.titulo__gallery a img {
    max-width: 17vw;
  }
  header.titulo__gallery h3 {
    text-transform: uppercase;
    font-family: "Times New Roman", Times, serif;
    color: #23ad61;
    font-size: 7vw;
    font-weight: bold;
    /*entension*/
  }

  .grilla {
    display: contents;
  }
  .grilla .grilla__reel {
    padding: 10px;
  }
  .grilla .grilla__reel .grilla__imagen {
    display: flex;
    justify-content: center;
  }
  .grilla .grilla__reel .grilla__text {
    padding: 10px;
  }

  .container_link--centrar {
    max-width: 400px;
    display: flex;
    flex-direction: column;
  }
  .container_link--centrar picture.perro {
    align-self: center;
  }
  .container_link--centrar picture.perro img {
    padding: 12px;
    min-width: 48vw;
  }
  .container_link--centrar form.button {
    width: 90%;
  }
  .container_link--centrar form.button button {
    width: 100%;
    font-size: 3rem;
    background-color: black;
    color: coral;
    font-weight: bolder;
  }

  footer.footer__index {
    display: grid;
    grid-template-columns: 50px 1fr;
  }
  footer .footer__icon {
    display: grid;
    grid-template-columns: repeat(5, auto);
    width: 100%;
    height: 100%;
  }
  footer h2 {
    text-transform: uppercase;
    font-family: "Times New Roman", Times, serif;
    font-size: 2.4rem;
    color: rgb(207, 172, 17);
    text-align: center;
    width: 100%;
  }
}