
/* media queries del index */
@media screen and (max-width: 730px){
    .titulos{
        color: #29cd7b;
        flex-flow: column;
    }  
    .titulos__menu{
        display: flex;
        justify-content: space-around;
        overflow: hidden;
        align-items: center;
        
    }
   .titulos__logo{
       width: 100%;  
   }
   .titulo__text{
       width: 100%;
   }
   .titulos__central{
       font-size: 6.9vw;
   }
   header.titulo__gallery{
       h3{
        text-transform: uppercase;
        font-family: 'Times New Roman', Times, serif;
        color: #23ad61;
        font-size: 7vw;
        font-weight: bold;
        @extend .centrar__text;/*entension*/ 

       }
   }
   .grilla{ 
       display: contents;   
    }
    .grilla__reel{
        padding: 10px;
    }   
    .subtitulos{
        display: grid;
        grid-column: 1/3;
    }
    .grilla__imagen{
        display: flex;
        align-items: center;
    }
    .grilla__text{
        padding: 10px;
    }
    footer{
        .footer__icon{
            display: grid;
            grid-template-columns: repeat(5, auto);
            width: 100%;
            height: 100%;
        }
        h2{
            text-transform: uppercase;
            font-family: 'Times New Roman', Times, serif;
            font-size: 2.4rem;
            color: rgb(207, 172, 17);
            text-align: center;
            width: 100%; 
        }
    }

}
