form fieldset.formulario--center{
    margin:80px auto;
    gap: 20px;
    display: flex;
    width: fit-content;
    flex-direction: column;
    .formulario__label{
        display:flex;
        gap: 20px;
        ::placeholder{
            font-size: 30px;
            text-align: center;
        }
        label{
            flex: auto;
        }
        input{
            flex: 13.8;
        }
        select{
            flex: 25.1;
            text-align: center;
            option#opt1{ /*aqui use un ID para centar un solo item*/
                margin: 0;
            }
        }
        textarea{
            width: 100%;
        }
    }
    .formulario__btn-msj{
        display: flex;
        justify-content: center;
        input{
            padding: 28px;
            border-radius: 20px;
            background: cadetblue;
            line-height: 1;
        }
        
    }
}


