$primary-color: #ffa;
$secundary-color: #ffa;
$font-color: black;
$font-size-link:6rem;
$m-center: margin (0 auto);
$background-header:linear-gradient(red, yellow);
$icon: 12vh;

.centrar__text{ /*esta clase es para hacer un extend*/
    display: flex;
    align-items: center;
    justify-content: center;
}

$icon_red:(/*esto es un maps*/
    facebook:url("../img/icon/facebook_icon.png"),
    Linkedin:url("../img/icon/linked_icon.png"),
    insta:url("../img/icon/instagram_icon.png"),
    twitter:url("../img/icon/twitter_icon.png"),
    yotutube:url("../img/icon/youtube_icon.png")

);
@each $red, $link in $icon_red{ /*esto es una condicional*/
    .btn--#{$red}{
        background-image: $link;
        background-repeat: no-repeat;
        background-size: contain;
        width: 70px;
        height: auto;
        margin: 0 auto;
                 
    }
}

@mixin wi_he-100{
    width: 100%;
    height: 100%;
} 
@mixin linea {
    background: #fd0048;
    width: 100%;
    height: 5px;
    display: block;
    margin-bottom: 10px;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 62.5%;
}


body{
    width: 100%;
    min-height: 100vh;
}
.container{
    max-width: 1000px;
    min-width: 300px;
    width: 100%;
    margin: $m-center;
    display: grid;
    grid-template-rows: auto auto auto auto;
    grid-template-columns: 100%;
}
.grid__row-3{
    display: grid;
    grid-template-rows: $icon 5px auto 12vh; /*los 5px son de la linea*/
}
.titulos{
    border-radius: 20px;
    background-image: $background-header;
}
.titulos__logo{
    width: 100%;
    display: flex;
    img{
        height:$icon;
        border-radius: 20px
    }
}

.titulo__text{
    width: 100%;
}

.titulos__central{
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
    @include wi_he-100();  /*estos en un mixin*/
    font-size: 5.6rem;
    font-weight: bold;
    @extend .centrar__text;/*entension*/
    color: cornsilk;
}
.titulos__menu{
    display: flex;
    width: 100%;
    flex-direction: column;
    a{
        text-decoration: none;
        color: #000000;
        font-weight: bold;/* coloca el texto con negrita standar*/}
    &:hover{
        transition: .5s ease-in-out;
        border-radius: 20px;}
    div{
        button{
            a{
                text-transform: uppercase;
                list-style: none;
                font-size: 2.2rem;
                padding: 0.9em;
            }
        }
    }   
}

.banner{
    display: flex;
    margin-top: 2em;
    flex-direction: column;
    align-content: center;
    img{
        border-radius: 50px;
    }
}
.grilla{
    /*contenido de las etiquetas*/
    display: grid;
    grid-template-columns: repeat(5,auto);
}
.grilla__reel{
    border: 2px solid rgb(179, 190, 14);
    backdrop-filter: blur(10px);
    padding: 10px;
    display: grid;
    grid-template-rows: auto auto 1fr;
    grid-gap: 1.1em;

}
.subtitulos{
    text-transform: uppercase;
    width: 100%;
    border: 1px solid rgb(0, 0, 0);
    text-align: center; 
    font-size: 2.1rem;
    background-color: crimson;
    color: $secundary-color;
}
.grilla__imagen{
    img{
        /*imagenes de las etiquetas*/
    width: 100%;
    height: auto;
    border-radius: 10px;
    }
}
.grilla__text{
    /*texto de las etiquetas*/
    font-size: 1.6rem;
    text-align: justify;
}
footer{/*aeui el footer se configura tanto para index como para los link con las redes*/
    display: flex;
    height: 12vh;
    @extend .centrar__text;/*entension*/
    &.footer__index{
        display: grid;
        grid-template-columns: 100px 1fr;
        

        .icon_face{
            background-image: map-get($icon_red, facebook);/*dato obtenido del maps*/
            background-repeat: no-repeat;
            background-repeat: no-repeat;
            background-size: auto 9vh;
            height: 100%;
            background-position: center;
        }
        h2{
            text-transform: uppercase;
            font-family: 'Times New Roman', Times, serif;
            font-size: 2.5rem;
            color: rgb(46, 26, 26);
            text-align: center;
            width: 100%;
            font-weight: bold;
        }

    }
    
}
/* aqui en el codigo de gallery */
.gradiente__gallery{
    background-image: linear-gradient(180deg, #ffff7c 0, #ffff6f 12.5%, #fff565 25%, #ffda5c 37.5%, #f2bd53 50%, #dda14c 62.5%, #c98a46 75%, #b77642 87.5%, #a8663f 100%);
}

/*la linea roja de los link*/ 
.linea{
    @include linea();
}
.gallery--grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    width: 95%;
    grid-gap: 10px;
    margin: auto;
    img{
        width: 100%;
        height: 100%;
        width: 150px;
        object-fit: contain;
        transition: transform .4s;
        &:hover{
            filter: blur(2px);
            transform: rotate(10deg) scale(1.3);} 
    }
}
/* ESTA SECCION SON LOS MODIFICADORES DE LOS LINK DE LOS PERROS */

/*aui el titulo de los link*/ 
header.titulo__gallery{
    border-radius: 20px;
    background-image: $background-header;
    display: grid;
    grid-template-columns: auto 1fr;
    a{
        img{
            height: $icon;
            border-radius: 20px;
        }
    }
    h3{
        text-transform: uppercase;
        font-family: 'Times New Roman', Times, serif;
        color: #23ad61;
        font-size: $font-size-link;
        font-weight: bold;
        @extend .centrar__text;/*entension*/ 
    }    
}
// aqui le tamaño de las img de los link
body div.card {
    width: 80em;
    img{
        width: 300px;
        margin: 10px auto;
        
    }
}
div.card-body{
    margin-top: -10px;
}
.container_link--centrar{
    width: 400px;
    height: 85vh;
    border: 3px solid black;
    margin: auto;
    display: grid;
    grid-template-areas:"perro button"
                        "detalle detalle"
                        ;
    picture img{
        width: 250px;
    }                    
}
.perro{
    align-self: center;
    justify-self: center;
    grid-area: perro;}
.detalle{
    grid-area: detalle;}

.lista__info--left{
    li{
        list-style: upper-alpha;
        font-size: 2.4rem;
        margin: 18px 11px;

    }
}

.button{
    display: block;
    align-self: center;
    justify-self: center;
    grid-area: button;
    font-size: 3rem;
    &:hover{
        transform: rotate(-10deg) scale(1.3);
        transition: transform .5s;
    }
}
/*clase editora de footer en nosotros y contacto*/
.footer__icon{
    display: grid;
    grid-template-columns: repeat(5, auto);
    width: 100%;
    height: 100%;
    margin-bottom: 20px;
}
.formulario--center{
    margin: 0 auto;
    display: flex;
    align-self: center;
    gap: 20px;
    flex-direction: column;
}
.formulario__label{
    gap: 54px;
    display: flex;
}
.formulario__btn-msj{
    display: flex;
    justify-content: center;
}
/* media queries del index */
@media screen and (max-width: 730px){
    .titulos{
        color: #29cd7b;
        flex-flow: column;
    }  
    .titulos__menu{
        display: flex;
        justify-content: space-around;
        overflow: hidden;
        align-items: center;
        
    }
   .titulos__logo{
       width: 100%;  
   }
   .titulo__text{
       width: 100%;
   }
   .titulos__central{
       font-size: 6.9vw;
   }
   header.titulo__gallery{
       h3{
        text-transform: uppercase;
        font-family: 'Times New Roman', Times, serif;
        color: #23ad61;
        font-size: 7vw;
        font-weight: bold;
        @extend .centrar__text;/*entension*/ 

       }
   }
   .grilla{ 
       display: contents;   
    }
    .grilla__reel{
        padding: 10px;
    }   
    .subtitulos{
        display: grid;
        grid-column: 1/3;
    }
    .grilla__imagen{
        display: flex;
        align-items: center;
    }
    .grilla__text{
        padding: 10px;
    }
    footer{
        h2{
            text-transform: uppercase;
            font-family: 'Times New Roman', Times, serif;
            font-size: 2.4rem;
            color: rgb(207, 172, 17);
            text-align: center;
            width: 100%; 
        }
    }

}









